<div class="voxquad-container">
  <h1 class="voxquad-title">🎵 VoxQuad SATB Matrix</h1>
  
  <!-- SATB Matrix -->
  <div class="satb-matrix">
    
    <%= render 'chord_headers' %>

    <%= render 'voice_row', voice: 'soprano', gain: 80, notes: ['D5', 'C5', 'C5', 'C5'] %>
    <%= render 'voice_row', voice: 'alto', gain: 70, notes: ['B3', 'C4', 'F4', 'E4'] %>
    <%= render 'voice_row', voice: 'tenor', gain: 70, notes: ['G4', 'F4', 'G#4/Ab4', 'G4'] %>
    <%= render 'voice_row', voice: 'bass', gain: 90, notes: ['G2', 'A2', 'G#2/Ab2', 'C2'] %>
    
    <%= render 'controls' %>
  </div>
</div>

<%= stylesheet_link_tag 'synth' %>
<%= javascript_include_tag 'synth' %>
